{%extends 'base.html'%}

{% block content %}
<div class="container pt-3 ">
        <div class="row">
        {% for image_item in images %}
            <div class= "col md-4">
            <a href="{% url 'photo' image_item.id %}">
                <div class="card mt-5" style="width: 18rem;">
                    <img src="{{ image_item.image.url}}" class=" card-img-top img-responsive rounded">
                    
                    <div class="card-body">
                        <h3 class="card-title"style="font-family: 'Tangerine', bold;">{{image_item.name}}</h3>
                                                <p class="card-text"style="font-family: 'Tangerine', cursive;"></p>
                                                <a ></a>   
                     </div>
                 </div>
            </div> {% endfor %}
        </div>
    </div>
{{block.super}}
{% endblock %}